.btn-primary{
    background-color: #238276 !important;
}

.form-control, .is-focused{
    background-image: #238276 !important;
}

thead{
    background-color: #238276 !important;
    color: white;
}